<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.serve.mapper.FamilyMapper">
    
    <!-- 根据学号查询家庭成员信息 -->
    <select id="selectList" resultType="com.example.serve.pojo.Family">
        SELECT * FROM family 
        WHERE studentNumber = #{studentNumber}
    </select>
    
</mapper> 